{% load static %}

<link href="{% static 'styles.css' %}" rel="stylesheet" />
<nav class="navbar navbar-expand-lg navbar-light" id="mainNav">
  <div class="container px-4 px-lg-5">
      <a class="navbar-brand" href="{% url 'bootstrap:home' %}">양정현대 FC</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ms-auto py-4= py-lg-0">
            <!-- px는 오른쪽, py는 왼쪽, py-lg는 위로 -->
              <!-- <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="index.html">Home</a></li> -->
              <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="{% url 'bootstrap:about' %}">About</a></li>
              <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="{% url 'bootstrap:post' %}">Sample Post</a></li> 
              <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="{% url 'soccer:board' %}">Board</a></li>
              <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="{% url 'bootstrap:contact' %}">Contact</a></li>
              {% if user.is_authenticated %}
                <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="{% url 'common:logout' %}">{{ user.username }} (logout)</a></li>
                {% else %}
                <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="{% url 'common:login' %}">login</a></li>
            {% endif %}
          
            </ul>
      </div>
  </div>
</nav>





  <!-- px는 오른쪽, py는 왼쪽, py-lg는 위로 -->